body {
  padding: 20px;
}
.app-main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.header-main {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart-icon {
  font-size: 25px;
  margin-right: 60px;
  cursor: pointer;
}
.header-menu {
  width: 300px;
}
.footer-main {
  height: 50px;
}
.main-content {
  flex: 1;
  overflow-y: auto;
}
.card {
  width: 390px;
  margin: 8px;
  /* height: 530px; */
}
.card-badge {
  margin: 8px;
}
.card-image {
  width: 100% !important;
  height: 300px !important;
  object-fit: cover;
}
.add-button {
  padding: 5px !important;
  height: auto;
}
